{% extends "workshop/base.html" %}

{% block title %}Accueil SSHDEVLOP{% endblock %}
{% block content %}
	{% load static %}
  <!-- +++++ Welcome Section +++++ -->
  <div id="ww">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <div class="header-photo">
          <img src="{% static 'workshop/img/Houche_Serge.JPG' %}" alt="Serge">
          </div>
          <h1>Bonjour, je suis zébra385 </h1>
          <h1>Freelance Développeur Full-Stack Python! </h1>
          <p> Ce site pour présenter mes réalisations et mon parcours.
        </div>
        
      </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /ww -->
  <!-- Mesoutils -->

  <!-- Skills & Certificates -->
  <div class="container pt" id="Mesoutils">
    <div class="row mt">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h1>Mes outils</h1>
        <hr>
      </div>
    </div>
    <div class="row mt centered">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- codage Skills -->
        <div class="block-title">
          <h3> <span>Compétences </span>de codage</h3>
        </div>

        <div class="skills-info skills-second-style">
          <!-- Skill 1 -->
          <div class="skill clearfix">
            <h4>Python</h4>
            <div class="skill-value">95%</div>
          </div>
          <div class="skill-container skill-1">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 1 -->
          
          <!-- Skill 2 -->
          <div class="skill clearfix">
            <h4>HTML</h4>
            <div class="skill-value">95%</div>
          </div>
          <div class="skill-container skill-1">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 2 -->
          
          <!-- Skill 3 -->
          <div class="skill clearfix">
            <h4>CSS</h4>
            <div class="skill-value">95%</div>
          </div>
          <div class="skill-container skill-1">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 3 -->
          
          <!-- Skill 4 -->
          <div class="skill clearfix">
            <h4>Javascript</h4>
            <div class="skill-value">75%</div>
          </div>
          <div class="skill-container skill-8">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 4 -->
          
        </div>
        <!-- End of codage Skills -->

        <div class="white-space-10"></div>

        <!-- Frameworks Skills -->
        <div class="block-title">
          <h3> <span>Compétences </span> en Frameworks</h3>
        </div>
        <div class="skills-info skills-second-style">
          <!-- Skill 5 -->
          <div class="skill clearfix">
            <h4>Django</h4>
            <div class="skill-value">95%</div>
          </div>              
          <div class="skill-container skill-1">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 5 -->
        

          <!-- Skill 6 -->
          <div class="skill clearfix">
            <h4>Bootstrap</h4>
            <div class="skill-value">95%</div>
          </div>
          <div class="skill-container skill-1">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 6 -->
          
          <!-- Skill 7 -->
          <div class="skill clearfix">
            <h4>Flask</h4>
            <div class="skill-value">75%</div>
          </div>
          <div class="skill-container skill-8">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 7 -->
                                  
        </div>
        <!-- End of Coding Skills -->

        <div class="white-space-10"></div>

        <!-- Knowledges -->
        <div class="block-title">
          <h3>Connaissances</h3>
        </div>

        <ul class="knowledges">
          <li>Méthode Agile</li>
          <li>U.M.L</li>
          <li>API REST</li>
          <li>Git</li>
          <li>GitHub</li>
          <li>Postgresql</li>
          <li>Travis</li>
          <li>Selenium</li>
        </ul>
        <!-- End of Knowledges -->
      </div>
    </div>
  </div>
  <!-- section Parcourt-->
  {% include 'workshop/parcourt.html' %}
  
  <!-- /container -->
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        
        <h1>Mon tarif est de 275 € par jour </h1>
        <p> N'hésitez pas à me <a href="{% url 'contact:send' %}">contacter </a>pour plus d'informations!  </p>

      </div>
      
    </div>
  
  </div>
  


{% endblock %}
