{% extends "workshop/base.html" %}

{% block title %}Message envoyé{% endblock %}
{% block content %}
	


    <!-- +++++ Contact Section +++++ -->
    <div id="wb">
        <div class="container pt">
            <div class="row mt">
                <div class="col-lg-6 col-lg-offset-3 centered">
                <h3>Mme/M.{{your_name}}</h3>
                <hr>
                <p>Nous vous confirmons l'envoi de votre message</p>
                <hr>
                <p>Une copie vous a été adressée</p>
                </div>
                </div>
        </div>
    </div>
{% endblock %}