{% extends "workshop/base.html" %}

{% block title %}Contact SSHDEVLOP{% endblock %}
{% block content %}
	{% load static %}
  {% csrf_token %}


  <!-- +++++ Contact Section +++++ -->

  <div class="container pt">
    <div class="row mt">
      <div class="col-lg-6 col-lg-offset-3 centered">
        <h3>CONTACTEZ MOI</h3>
        <hr>
        <p>Utilisez le formulaire ci-dessous pour m'envoyer un message.</p>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-8 col-lg-offset-2">
        
        <form  action="" method="POST">
          {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.your_name.id_for_label }}">Votre nom:</label>
              {{ form.your_name }}
              
            </div>
            <div class="form-group">
              <label for="{{ form.sender.id_for_label }}">Votre email:</label>
              {{ form.sender }}
              
            </div>
            <div class="form-group">
              <label for="{{ form.subject.id_for_label }}">Sujet:</label>
              {{ form.subject }}
              
            </div>

            <div class="form-group">
              <label for="{{ form.message.id_for_label }}">Votre message:</label>
              {{ form.message }}
              
            </div>

           
            

            
              <button type="submit" class="btn btn-large">Envoyer votre message</button>
           

          </form>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

 
{% endblock %}